h2 {
    font-family: 'Varela Round', sans-serif;
}

.bg-primary {
    background-color: #223092!important;
}

.fill-section-light {
    fill: #ffffff!important;
}

body {
    background-color: #fafbfe!important;
}

.bg-gradient-dark {
    background: -o-linear-gradient(40deg,#3B4460 0,#223092 100%)!important;
    background: linear-gradient(50deg,#3B4460,#223092)!important;
}

.slice {
    padding-bottom: 1rem!important;
}

.btn-primary {
    color: #fff;
    background-color: #0079F1;
    border-color: #0079F1;
    -webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15);
}

.btn-primary:hover {
    color: #fff;
    background-color: #00C9A7;
    border-color: #00C9A7;
}

.fluid-paragraph {
    width: 800px;
}

.bg-gradient-primary {
    background: -o-linear-gradient(40deg,#223092 0,#0079F1 100%)!important;
    background: linear-gradient(50deg,#223092,#0079F1)!important;
}

.text-primary {
    color: #FFA443!important;
}